.wow {
  width: 100px;
}

*{
  margin: 0;
  padding: 0;
}

.c-blocos{
  
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-width: 50%;
  padding: 80px;
  display: flex;
  border-radius: 30px;
  background-color: rgb(159, 179, 122);
}

.block{
  padding: 30PX;
  margin: 20px;
  min-width: 50%;
  max-width: 400px;
  border-radius: 30px;
  padding-top: 20px;
  width: 300px;
  height: 150px; 

  background-color: rgb(139, 114, 114);
}

.pesquisar h1{
  
  
  text-align: center;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#submit{
  max-width: 50%;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  border-radius: 45%;
  padding: 10px;
  font-size: 20px;
}
.pesquisar input{
  max-width: 50%;
  margin-top: 30px;
  margin-left:40px ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  background-color: wheat;
  
}
.pesquisar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background-color: rgb(134, 90, 90);
}

img{
  width: 33%;
}
.menu{
  background-color: lightgreen;
  padding: 40px;
}

.menu h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  text-align: center;
}

img:hover{
    transform: scale(1.20);
}

.menu img{
  margin-top: 30px;
    display:flex
    
}

.menu h2{
  margin-top: 30px;
  font-family: impact;
  font-weight: 500;
}
.placar{
  margin-left: 100px;
  floar: right;
}

.timer{
  padding: 2cm;
}

.timer h1{
  margin:
  text-align: center;
}

.convertor{
  background-color: lightcoral;
}

.convertor h1{
  text-align: center;
  font-family: impact;
}

#valor{
  background-color: wheat;
}

#container2{
  background-color: green;
}